@model ePunkt.Portal.Models.Jobs.JobViewModel

<div class="jobPage">
    
    <div class="jobAdContainer">
        @Html.Raw(Model.Html)
    </div>

    @if (Model.DisplayBackLink)
    {
        <a href="javascript:history.back();" class="btn btn-default backToJobsLink">@Html.Loc("Back")</a>
    }

</div>
