body { padding-top: 60px; }

div.row + div.row { margin-top: 15px; }

/* ReSharper disable DeclarationIsEmpty */

.jobsPage { }
    .jobsPage .jobsList { }
        .jobsPage .jobsList .jobTitle { }
    .jobsPage .jobsFilter { }
.jobPage { }
    .jobPage .jobAdContainer { }
    .jobPage .backToJobsLink { }

.changePasswordPage { }
.changePasswordSuccessPage { }
.requestPasswordStep1Page { }
.requestPasswordStep1SuccessPage { }
.requestPasswordStep2Page { }
.requestPasswordStep2SuccessPage { }

.registerPage { }
.registerSuccessPage { }
.applicationPage { }
.refreshApplicationPage { }
.jobIsClosedPage { }
.emailAlreadyInUsePage { }

.loginPage { }
    .loginPage .xingButton { text-align: center; }
        .loginPage .xingButton a { height: 75px; width: 180px; text-align: center; }
    .loginPage .linkedinButton { text-align: center; }
        .loginPage .linkedinButton a { height: 75px; padding-top: 17px; width: 180px; text-align: center; }
    .loginPage p:nth-child(4) { margin-top: 20px; }
.thirdPartyErrorPage { }

.applicantPage .applicantCompleteness .row div + div { padding-top: 5px; }
.applicantPage .applicantCompleteness a { width: 100%; text-align: left; }
.applicantApplicationsPage { }
.applicantPersonalInformationPage { }
.applicantFilesPage { }
.applicantJobProfilesPage { }
    .applicantJobProfilesPage .applicantActivitiesPage { }
.applicantActivitiesEditPage { }
.applicantThirdPartyPage { }

.personalInformationPartial { }

/* ReSharper restore DeclarationIsEmpty */
