body { font-size: .85em; font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif; color: #232323; background-color: #fff; }
    body input[type=checkbox] { margin-right: 5px; vertical-align: bottom; margin-bottom: 3px; }

    body > #container { width: 940px; margin-left: auto; margin-right: auto; }

        body > #container > nav { height: 30px; margin-top: 10px; }
            body > #container > nav > ul { list-style-type: none; padding: 0; margin: 0; float: left; }
                body > #container > nav > ul li { margin-right: 5px; padding-right: 5px; border-right: 1px solid silver; float: left; }
                    body > #container > nav > ul li:last-child { border-right: 0; }
                body > #container > nav > ul + ul { float: right; }
                    body > #container > nav > ul + ul li:last-child { padding-right: 0; margin-right: 0; }

        body > #container > #content .jobsList .jobTitle { font-weight: bold; }
        body > #container > #content .jobsFilter { margin-bottom: 20px; }
            body > #container > #content .jobsFilter th { text-align: left; width: 125px; }
            body > #container > #content .jobsFilter td input[type=text] { width: 200px; }
            body > #container > #content .jobsFilter td#jobProfilesText { cursor: pointer; }
            body > #container > #content .jobsFilter td#regionsText { cursor: pointer; }
            body > #container > #content .jobsFilter td input[type=submit] { float: right; width: 100px; }
            body > #container > #content .jobsFilter td input[type=button] { float: right; width: 70px; }
        body > #container > #content #backToJobsLink { display: block; margin-top: 10px; text-align: right; }

        body > #container > #content #loginWithThirdPartyAccount { width: 45%; float: left; }
            body > #container > #content #loginWithThirdPartyAccount ul { list-style-type: none; padding: 0; }
                body > #container > #content #loginWithThirdPartyAccount ul li { float: left; width: 50%; height: 100px; }
                    body > #container > #content #loginWithThirdPartyAccount ul li #linkedIn { margin-top: 17px; }
        body > #container > #content #loginWithCredentials { width: 45%; float: right; }
            body > #container > #content #loginWithCredentials table tr td:first-child { padding-right: 5px; }

        body > #container > #content #linkThirdPartyProfilesTable { width: 100%; }
            body > #container > #content #linkThirdPartyProfilesTable tr td:first-child { width: 170px; padding: 30px 0; }
            body > #container > #content #linkThirdPartyProfilesTable tr td:last-child { text-align: right; }

        body > #container > #content #retreivePasswordTable td { padding-left: 3px; }

        body > #container > #content #applicantCompleteness > p { margin: 5px 0; padding: 10px; }
            body > #container > #content #applicantCompleteness > p > span { float: right; }
            body > #container > #content #applicantCompleteness > p.complete { background-color: lightgreen; }
            body > #container > #content #applicantCompleteness > p.incomplete { background-color: lightcoral; }

        body > #container > #content #applicantAdditionalSettings { margin-top: 30px; }
            body > #container > #content #applicantAdditionalSettings > p { margin: 0; padding: 5px 0; }
                body > #container > #content #applicantAdditionalSettings > p > label { font-weight: bold; }
                body > #container > #content #applicantAdditionalSettings > p > span { display: block; }


        body > #container > #content #applicantFiles > div { padding: 10px 0; }
            body > #container > #content #applicantFiles > div > form { display: inline; background-color: blue; }
            body > #container > #content #applicantFiles > div > span { color: gray; margin-left: 5px; }
                body > #container > #content #applicantFiles > div > span:before { content: "("; }
                body > #container > #content #applicantFiles > div > span:after { content: ")"; }
            body > #container > #content #applicantFiles > div input { float: right; }
        body > #container > #content #applicantFilesUpload { margin-top: 30px; }
            body > #container > #content #applicantFilesUpload input[type=submit] { float: right; }


/* ReSharper disable CssNotResolved */
/* ReSharper disable InvalidValue */
img.grayed { opacity: 0.4; filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -o-filter: grayscale(100%); -ms-filter: grayscale(100%); }
/* ReSharper restore InvalidValue */
/* ReSharper restore CssNotResolved */


/* jQuery UI styles */
.ui-widget { font-size: .85em; font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif; color: #232323; }

/* ASP.NET MVC styles */
.validation-summary-errors { background-color: red; color: white; padding: 5px 0 5px 0; }
.field-validation-error { color: red; }
.input-validation-error { background-color: red; color: white; }
