@model ePunkt.Portal.Models.Account.EmailAlreadyInUseViewModel

<div class="emailAlreadyInUsePage">
    <h1>@Html.Loc("Title", Model.Email)</h1>
    <p>@Html.Loc("Text", Model.Email)</p>
    <p>@Html.ActionLink(Html.Loc("Login_Link").ToString(), "Login", "Account", new { job = Model.JobId }, new { @class = "btn btn-primary" })</p>
</div>
